.TopSectioncontainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.363)), url(../../image/model-3211627_1920.jpg);
    display: grid;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.TopSectioncontainer h1{
    color: white;
    font-size: 3.3vmax;
    text-transform: capitalize;
}

p{
    margin: 20px 0;
}

h1{
    margin: 20px 0;

}

.TopSectioncontainer p{
    color: #4c9e9e48;
}

.TopSectioncontainer .gridButton{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
}

.gridButton button{
    background-color: #4c9e9e;
    border: none;
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0 20px;
}


 .gridButton button:hover{
    background-color: #287474;
    transition: all 2s;

}

.TopSectioncontainer .gridButton a{
    color: #4c9e9e;
    transition: all 3s;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0 20px;
    transition: 3s;
}

.TopSectioncontainer .gridButton a:hover{
    border-bottom: 2px solid #4c9e9e;
    transition: all 2s;
}

.numberLabel{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
