.aboutContainer {
    background-color: #0d1b1b;
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

.aboutContainer .aboutUs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.aboutContainer .aboutUs .aboutTextOne h3 {
    text-transform: uppercase;
    color: #4c9e9e;
}

.aboutContainer .aboutUs .aboutTextOne h1 {
    color: white;
    font-size: 3vmax;
    text-transform: capitalize;
}

.aboutTextTwo p {
    width: 100%;
    color: rgba(53, 80, 80, 0.603);
}

.imageSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


.textOne,
.textTwo,
.textThree {
    margin: 40px 0;
}

.textOne h3,
.textTwo h3,
.textThree h3 {
    color: #4c9e9e;
}

.textOne p,
.textTwo p,
.textThree p {
    color: rgba(53, 80, 80, 0.603);
    ;
}

.imageTextImage {
    width: 100%;
}


.chooseUsSection{
    display: grid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.466)), url(../../image/smoke-376543_1920.jpg);
   background-attachment: fixed;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button{
    background-color: #4c9e9e;
    border: none;
    padding: 5px;
    color: white;
    margin: 20px 0;
    letter-spacing: 1px;
    font-size: 20px;
}

.chooseUsRight{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
}

.chooseUs p
{
    width: 100%;
    color: rgba(53, 80, 80, 0.603);
}

.chooseUs h1
{
    color: white;
    font-size: 3vmax;
    margin: 10px 0;
    text-transform: capitalize;
} 

.chooseUs h3,
.stepSuccess h3
{
    color: #4c9e9e;
    margin: 10px 0;
}

.chooseUsRight h1{
    color: #4c9e9e;
    margin: 10px 0;
    
}

h2{
    color: #4c9e9e;
    margin: 20px 0;
}

.chooseUs,
.chooseUsRight{
    margin: 0 20px;
}

.chooseUsRight p{
    margin: 10px 0;
    color: rgba(53, 80, 80, 0.603);
}

@media only screen and (max-width: 768px) {
    .imageSection,
    .aboutContainer .aboutUs{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .chooseUsSection{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}


.stepSuccess{
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.829);
    display: grid;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.successGrid{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
}

.successGrid h2
{
color: #4c9e9e;
}


.successGrid p{
    color: #285050;
}

.successCenter h1{
    color: white;
}

.successCenter p{
    color: #0d1b1b;
}

.threeGridFeatures{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}

.featuresTextOne{
    margin: 30px 0;
}


.featuresTextOneImage img{
    width: 300px;
}

.featuresTextOne p{
    color: white;
}

label{
    padding: 0 30px;
}

@media only screen and (max-width: 1024px) {
.threeGridFeatures{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

}